{% extends 'base.html.twig' %}

{% block body %}
    <a href="/" class="underline ">Back to index</a>
    <h3 class="font-medium mb-3">Simple Live component</h3>

    <twig:SimpleLiveComponent />
{% endblock %}

