<div data-live-ignore {{ attributes.defaults(stimulus_controller('filepond', { property: this.property })) }} class="h-[79px] rounded-lg bg-[#f1f0ef]">
    <input type="file" class="invisible">
</div>
